<h2>
  Search
</h2>

<p>
  <input name="search" type="text" value="<%= @q %>" class="form-control typeahead"/> <button id="submit" class="btn btn-primary">Search</button>
</p>

<p>
Duration: <select id="duration">
  <option value="all">All</option>
  <option value="short">Short: < 1 minute</option>
  <option value="long">Long: < 20 minutes</option>
</select>
</p>

<div id="videos"></div>

<style>
</style>

<script>

 var substringMatcher = function(strs) {
     strs = strs.map((x) => `${x.titre}`)

     return function findMatches(q, cb) {

         var matches, substringRegex;

         // an array that will be populated with substring matches
         matches = [];

         // regex used to determine if a string contains the substring `q`
         substrRegex = new RegExp(q, 'i');

         // iterate through the pool of strings and for any string that
         // contains the substring `q`, add it to the `matches` array
         $.each(strs, function(i, str) {
             if (substrRegex.test(str)) {
                 matches.push(str);
             }
         });

         cb(matches);
     };
 };

 $(function() {
     var videosContainer = $('#videos');
     var preview = $('#preview');

     var params = {
         filter: function(x) {
             return true;
         },
         duration: 'all'
     };

     var videos = [];

     function videoTemplate(video) {
         var summary = video.description.substr(0, 200);
         // no xss plz
         return `
<div class="video">
<h3><a>${video.titre}</a></h3>
<video poster="${video.thumbnail}" src="${video.public_url}" with="400" height="200"  class="preview" >
</video>
<p>${summary}</p>
<p>Duration: ${video.duration} seconds</p>
</div>
`
     }

     function fetch(cb) {
         $.get('/search.json').done(function(data) {
             videos = data;
             cb(data)
         });
     }

     function checkDuration(d) {
         console.log(d)
         if(d == 'all') return (x) => x;
         if(d == 'short') return (x) => x.duration < 60;
         if(d == 'long') return (x) => x.duration < 60 * 20;
     }


     function update() {
         var html = videos.filter(params.filter)
                          .filter(checkDuration(params.duration))
                          .map(videoTemplate)
                          .join(" ");

         console.log('update')

         videosContainer.html(html);

         videosContainer.find('video').mouseenter(function() {
             $(this)[0].play();
         }).mouseleave(function() {
             $(this)[0].pause();
         });
     }

     fetch(function() {
         var input = $('.typeahead').typeahead({
             hint: true,
             highlight: true,
             minLength: 1
         }, {
             name: 'videos',
             source: substringMatcher(videos)
         });

         $('#submit').click(function() {
             params.filter = function(video) {
                 return `${video.titre} ${video.description}`.indexOf(input.val()) !== -1;
             };

             update();
         }).click();

         $('#duration').change(function() {
             params.duration = this.value;
             update();
         });



         update();
     });
 });

</script>
